kbn-enhanced-agg-table,
kbn-enhanced-agg-table-group {
  display: block;
}

.striped-rows .kbnAggTable__paginated {
  $euiColorLightestShade: #F5F7FA;

  tr:nth-child(odd) td {
    background-color: lighten($euiColorLightestShade, 2%);
  }

  tr:hover td {
    background-color: $euiColorLightestShade;
  }

}

.theme-dark.striped-rows .kbnAggTable__paginated {
  $euiColorLightestShade: #25262E;

  tr:nth-child(odd) td {
    background-color: lighten($euiColorLightestShade, 2%);
  }

  tr:hover td {
    background-color: $euiColorLightestShade;
  }

}
