kbn-enhanced-agg-table,
kbn-enhanced-agg-table-group {
  display: block;
}

.kbnAggTable {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.kbnAggTable__paginated {
  flex: 1 1 auto;
  overflow: auto;

  th {
    text-align: left;
    font-weight: 700;
  }

  tr:hover td,
  .kbnTableCellFilter {
    background-color: $euiColorLightestShade;
  }

  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
  .text-justify {
    text-align: justify;
  }

}

.kbnAggTable__controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin: 8px 4px;

  > paginate-controls {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
  }
}

.table>thead>tr>th {
  border-bottom: 1px solid $euiColorBorder;
}

.table>tbody>tr>td {
  border-top: 1px solid $euiColorBorder;
}

.table>tfoot>tr>th {
  border-top: 2px solid $euiColorBorder;
}

.table {
  background-color: $euiColorBackground;
}

.striped-rows .kbnAggTable__paginated {
  tr:nth-child(odd) td {
    background-color: darken($euiColorBackground, 1%);
  }

  tr:hover td {
    background-color: $euiColorLightestShade;
  }
}
