kbn-enhanced-agg-table,
kbn-enhanced-agg-table-group {
  display: block;
}

.kbnAggTable {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.kbnAggTable__paginated {
  flex: 1 1 auto;
  overflow: auto;

  th {
    text-align: left;
    font-weight: 700;
  }

  tr:hover td,
  .kbnTableCellFilter {
    background-color: $euiColorLightestShade;
  }
}

.kbnAggTable__controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin: 8px 4px;

  > paginate-controls {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
  }
}


.striped-rows .kbnAggTable__paginated {
  tr:nth-child(odd) td {
    background-color: lighten($euiColorLightestShade, 2%);
  }

  tr:hover td {
    background-color: $euiColorLightestShade;
  }
}
