
// GENERIC DATA TABLE //

.table-vis {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
}

.table-vis-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 100%;
  text-align: center;
}

.table-vis-container {
  kbn-agg-table-group > .table > tbody > tr > td {
    border-top: 0px;
  }

  .pagination-other-pages {
    justify-content: flex-end;
  }

  .pagination-size {
    display: none;
  }
}


// ENHANCED DATA TABLE //

.computed-columns-options-container {
  margin-bottom: 20px;
}

kbn-agg-table-group .table {
  margin-bottom: 0px;
}

.hide-export-links .agg-table-controls {
  display: none;
}

.hide-pagination paginate-controls {
  display: none;
}

.filterInput {
  width: 100%;
  border-color: #ecf0f1;
  border-width: 2px 0px 2px 2px;

}
.filterInput:focus {
  border-color: #b4bcc2;
}

.filterButton {
  height: 32px;
}

.filterText {
  padding-right: 20px;
}
