<div ng-controller="EnhancedTableVisController" class="table-vis enhanced-table-vis">

  <div ng-show="vis.params.showFilterBar && tableGroups && (hasSomeRows || activeFilter !== '')">
    <div ng-hide="showFilterInput()" align="right">
      <a ng-click="enableFilterInput()" class="filterText" i18n-id="visTypeTable.vis.filterLink" i18n-default-message="Filter"></a>
    </div>

    <div class="kuiLocalSearch" ng-show="showFilterInput()" style="width:{{vis.params.filterBarWidth}}">
      <div class="kuiLocalSearchAssistedInput">
        <input type="text" ng-model="vis.filterInput" ng-keyup="(vis.params.filterAsYouType || $event.keyCode == 13) && doFilter()" placeholder="{{ ::'visTypeTable.vis.filterPlaceholder' | i18n: {defaultMessage: 'Filter...'} }}" class="kuiLocalSearchInput filterInput" autocomplete="off" aria-label="{{ ::'visTypeTable.vis.filterAriaLabel' | i18n: {defaultMessage: 'Filter input'} }}">
      </div>
      <button ng-click="doFilter()" aria-label="Filter" class="kuiButton kuiLocalSearchButton filterButton" ng-disabled="vis.params.filterAsYouType">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <button ng-click="disableFilterInput()" ng-show="vis.params.filterBarHideable" aria-label="Hide" class="kuiButton kuiButton--danger filterButton">
        <span aria-hidden="true" class="fa fa-times"></span>
      </button>
    </div>
  </div>

  <div ng-if="!hasSomeRows && hasSomeRows !== null" class="table-vis-error">
    <h2 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h2>
    <h4>No results found</h4>
  </div>

  <div ng-if="hasSomeRows" class="table-vis-container" ng-class="tableVisContainerClass" data-test-subj="tableVis">
    <kbn-agg-table-group
      group="tableGroups"
      export-title="vis.title"
      per-page="vis.params.perPage"
      sort="sort"
      show-total="vis.params.showTotal"
      total-func="vis.params.totalFunc">
    </kbn-agg-table-group>
  </div>
</div>
