<div class="visEditorSidebar__config">

  <!-- COMPUTED COLUMNS SECTION -->
  <div class="sidebar-item visEditorAggGroup__wrapper">

    <div class="sidebar-item-title visEditorAggGroup__title">
        Computed Columns
    </div>

    <div draggable-container="editorState.params.computedColumns" class="visEditorAggGroup">
      <div ng-repeat="computedColumn in editorState.params.computedColumns"
           ng-init="editorOpen = initEditorOpen()"
           draggable-item="computedColumn">
          <div class="visEditorAggHeader">

              <!-- open/close editor -->
              <button
                    aria-label="{{editorOpen ? 'Close' : 'Open'}} Editor"
                    ng-click="editorOpen = !editorOpen"
                    type="button"
                    class="visEditorAggHeader__toggle kuiButton kuiButton--primary kuiButton--small">
                <i aria-hidden="true" ng-class="{ 'fa-caret-down': editorOpen, 'fa-caret-right': !editorOpen }" class="fa"></i>
              </button>

              <!-- title -->
              <span class="visEditorAggHeader__title" ng-class="{'visEditorAggHeader__title--grow': editorOpen}">
                  Computed col
              </span>

              <!-- description -->
              <span ng-if="!editorOpen" class="visEditorAggHeader__description" title="{{computedColumn.label || computedColumn.formula}}">
                {{computedColumn.label || computedColumn.formula}}
              </span>

              <!-- buttons -->
              <div class="visEditorAggHeader__controls kuiButtonGroup kuiButtonGroup--united">

                  <!-- enable/disable column -->
                  <button
                      ng-click="computedColumn.enabled = !computedColumn.enabled"
                      aria-label="{{computedColumn.enabled ? 'Disable' : 'Enable'}} Column"
                      tooltip="{{computedColumn.enabled ? 'Disable' : 'Enable'}} Column"
                      tooltip-append-to-body="true"
                      type="button"
                      class="kuiButton kuiButton--basic kuiButton--small">
                    <i aria-hidden="true" class="fa fa-toggle-{{computedColumn.enabled ? 'on' : 'off'}}"></i>
                  </button>

                  <!-- drag column -->
                  <button draggable-handle
                      ng-show="editorState.params.computedColumns.length > 1"
                      aria-label="Modify Order by Dragging"
                      tooltip="Modify Order by Dragging"
                      tooltip-append-to-body="true"
                      type="button"
                      class="kuiButton kuiButton--basic kuiButton--small">
                    <i aria-hidden="true" class="fa fa-arrows-v"></i>
                  </button>

                  <!-- remove column -->
                  <button
                      ng-click="removeComputedColumn(computedColumn, editorState.params.computedColumns)"
                      aria-label="Remove Column"
                      tooltip="Remove Column"
                      tooltip-append-to-body="true"
                      type="button"
                      class="kuiButton kuiButton--danger kuiButton--small">
                    <i aria-hidden="true" class="fa fa-times"></i>
                  </button>
              </div>
          </div>

          <!-- editor -->
          <div ng-if="editorOpen">
              <div class="form-group">
                <label>Label</label>
                <input type="text" ng-model="computedColumn.label" class="form-control">
              </div>
              <div class="form-group">
                <label>Formula (<a ng-href="https://github.com/silentmatt/expr-eval#expression-syntax" target="_blank">expr-eval</a> syntax)</label>
                <input type="text" ng-model="computedColumn.formula" class="form-control" />
              </div>
              <div class="form-group">
                <label>Format</label>
                <select ng-model="computedColumn.format" class="form-control">
                  <option label="Number" value="number">Number</option>
                  <option label="String" value="string">String</option>
                  <option label="Date" value="date">Date</option>
                </select>
              </div>
              <div class="form-group" ng-if="computedColumn.format === 'number'">
                <label>Pattern (<a ng-href="http://numeraljs.com/#format" target="_blank">Numeral.js</a> syntax)</label>
                <input type="text" ng-model="computedColumn.pattern" class="form-control">
              </div>
              <div class="form-group" ng-if="computedColumn.format === 'date'">
                <label>Pattern (<a ng-href="http://momentjs.com/docs/#/displaying/format/" target="_blank">Moment.js</a> syntax)</label>
                <input type="text" ng-model="computedColumn.datePattern" class="form-control">
              </div>
              <div class="form-group">
                <label>Alignment</label>
                <select ng-model="computedColumn.alignment" class="form-control">
                  <option>left</option>
                  <option>right</option>
                  <option>center</option>
                  <option>justify</option>
                </select>
              </div>
              <div class="checkbox" ng-if="computedColumn.alignment != 'left'">
                <label>
                  <input type="checkbox" ng-model="computedColumn.applyAlignmentOnTitle">
                  Apply alignment on title
                </label>
              </div>
              <div class="checkbox" ng-if="computedColumn.alignment != 'left'">
                <label>
                  <input type="checkbox" ng-model="computedColumn.applyAlignmentOnTotal">
                  Apply alignment on total
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="computedColumn.applyTemplate">
                  Apply template
                </label>
              </div>
              <div class="checkbox" ng-if="computedColumn.applyTemplate">
                <label>
                  <input type="checkbox" ng-model="computedColumn.applyTemplateOnTotal">
                  Apply template on total
                </label>
              </div>
              <div class="form-group" ng-if="computedColumn.applyTemplate">
                <label>Template (<a ng-href="http://handlebarsjs.com/expressions.html" target="_blank">Handlebars</a> syntax)</label>
                <input type="text" ng-model="computedColumn.template" class="form-control">
              </div>
          </div>
      </div>
    </div>

    <div ng-click="addComputedColumn(editorState.params.computedColumns)" class="eui-textCenter">
      <div>
        <div class="kuiButton kuiButton--secondary kuiButton--small">
          Add computed column
        </div>
      </div>
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label>Lines computed filter (<a ng-href="https://github.com/silentmatt/expr-eval#expression-syntax" target="_blank">expr-eval</a> syntax)&nbsp;
        <icon-tip
          content="'Example: when \'col0 &gt; 10\', only table lines having first column value greater than 10 are displayed'"
          position="'right'"
        ></icon-tip>
      </label>
      <input type="text" ng-model="editorState.params.linesComputedFilter" class="form-control" placeholder="col0 > 10" />
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label>Hidden columns</label>
      <input type="text" ng-model="editorState.params.hiddenColumns" class="form-control" placeholder="0,1,..." />
    </div>

    <div class="checkbox" ng-show="hasSplitColsBucket()">
      <label>
        <input type="checkbox" ng-model="editorState.params.computedColsPerSplitCol">
        Computed/Hidden cols per split col&nbsp;
        <icon-tip
          content="'Example: when enabled, if there is one \'Split Cols\' bucket that implies two columns (term1 and term2), one Count metric, and one computed column configured, then in the result table, there will be a computed column for term1 and another computed column for term2 (each displayed after count column)'"
          position="'right'"
        ></icon-tip>
      </label>
    </div>

  </div>

  <!-- FILTER BAR SECTION -->
  <div class="sidebar-item visEditorAggGroup__wrapper">

    <div class="sidebar-item-title visEditorAggGroup__title">
        Filter Bar
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showFilterBar">
        Show filter bar
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterCaseSensitive">
        Case sensitive filter
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterBarHideable">
        Filter bar hideable
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterAsYouType">
        Filter as you type
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterTermsSeparately">
        Filter each term separately
        <icon-tip
          content="'Example with filter set to \'term1&nbsp;term2\': when this option is enabled, lines with one column containing \'term1\' and another column containing \'term2\' will be displayed. If disabled, only lines with one column containing \'term1&nbsp;term2\' will be displayed.'"
          position="'right'"
        ></icon-tip>
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterHighlightResults">
        Highlight results
      </label>
    </div>

    <div class="form-group" ng-show="editorState.params.showFilterBar">
      <label>Filter bar width</label>
      <input type="text" ng-model="editorState.params.filterBarWidth" class="form-control">
    </div>

  </div>

  <!-- BASIC SETTINGS SECTION -->
  <div class="sidebar-item visEditorAggGroup__wrapper">

    <div class="sidebar-item-title visEditorAggGroup__title">
        Basic Settings
    </div>

    <div class="form-group">
      <label
        for="datatableVisualizationPerPage"
        i18n-id="tableVis.params.perPageLabel"
        i18n-default-message="Per Page"
      ></label>
      <input type="number" ng-model="editorState.params.perPage" class="form-control" id="datatableVisualizationPerPage">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.hideExportLinks">
        Hide export links
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showMetricsAtAllLevels">
        <span
          i18n-id="tableVis.params.showMetricsLabel"
          i18n-default-message="Show metrics for every bucket/level"
        ></span>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showPartialRows">
        <span
          i18n-id="tableVis.params.showPartialRowsLabel"
          i18n-default-message="Show partial rows"
        ></span>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="metricsAtAllLevels" disabled>
        <span
          i18n-id="tableVis.params.calculateMetricsLabel"
          i18n-default-message="Calculate metrics for every bucket/level"
        ></span>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showTotal">
        <span
          i18n-id="tableVis.params.showTotalLabel"
          i18n-default-message="Show total"
        ></span>
      </label>
    </div>

    <div>
      <label
        for="datatableVisualizationTotalFunction"
        i18n-id="tableVis.params.totalFunctionLabel"
        i18n-default-message="Total function"
      ></label>
      <select ng-disabled="!editorState.params.showTotal"
              class="form-control"
              ng-model="editorState.params.totalFunc"
              ng-options="x for x in totalAggregations" id="datatableVisualizationTotalFunction">
      </select>
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label for="datatableVisualizationTotalLabel">Total label</label>
      <input type="text" ng-model="editorState.params.totalLabel" class="form-control" id="datatableVisualizationTotalLabel" ng-disabled="!editorState.params.showTotal">
    </div>

  </div>

</div>
