<div class="kuiSideBarSection">

  <div class="kuiSideBarSectionTitle">
    <div class="kuiSideBarSectionTitle__text">
      Computed Columns
    </div>
  </div>
  
  <div draggable-container="$parent.vis.params.computedColumns" style="width: 100%;">
    <div ng-repeat="computedColumn in $parent.vis.params.computedColumns"
         ng-init="editorOpen = initEditorOpen(computedColumn)"
         draggable-item="computedColumn"
         style="width: 100%;">
        <div class="vis-editor-agg-header" style="width: 100%;">
            <!-- open/close editor -->
            <button aria-label="{{editorOpen ? 'Close' : 'Open'}} Editor"
                  ng-click="editorOpen = !editorOpen"
                  type="button"
                  class="btn btn-primary btn-xs vis-editor-agg-header-toggle">
                <i aria-hidden="true" ng-class="{ 'fa-caret-down': editorOpen, 'fa-caret-right': !editorOpen }" class="fa"></i>
            </button>

            <!-- title -->
            <span class="vis-editor-agg-header-title">
                Computed Column
            </span>

            <!-- description -->
            <span ng-if="!editorOpen" class="vis-editor-agg-header-description">
                {{computedColumn.label || computedColumn.formula}}
            </span>

            <!-- buttons -->
            <div class="vis-editor-agg-header-controls btn-group">
                <!-- disable column -->
                <button
                    ng-if="computedColumn.enabled"
                    ng-click="computedColumn.enabled = false"
                    aria-label="Disable Column"
                    tooltip="Disable Column"
                    tooltip-append-to-body="true"
                    type="button" 
                    class="btn btn-xs kuiButton--basic">
                  <i aria-hidden="true"
                     class="fa fa-toggle-on"></i>
                </button>

                <!-- enable column -->
                <button
                    ng-if="!computedColumn.enabled"
                    ng-click="computedColumn.enabled = true"
                    aria-label="Enable Column"
                    tooltip="Enable Column"
                    tooltip-append-to-body="true"
                    type="button" 
                    class="btn btn-xs kuiButton--basic">
                  <i aria-hidden="true"
                     class="fa fa-toggle-off"></i>
                </button>

                <button draggable-handle
                    ng-show="vis.params.computedColumns.length > 1" 
                    aria-label="Modify Order by Dragging"
                    tooltip="Modify Order by Dragging"
                    tooltip-append-to-body="true"
                    type="button"
                    class="btn btn-xs gu-handle kuiButton--basic">
                  <i aria-hidden="true" class="fa fa-arrows-v"></i>
                </button>

                <button
                    aria-label="Remove Column" ng-click="removeComputedColumn(computedColumn, $parent.vis.params.computedColumns)"
                    tooltip="Remove Column"
                    tooltip-append-to-body="true"
                    type="button" class="btn btn-xs btn-danger kuiButton--basic">
                  <i aria-hidden="true" class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <!-- editor -->
        <div ng-if="editorOpen">
            <div class="form-group">
              <label>Label</label>
              <input type="text" ng-model="computedColumn.label" class="form-control">
            </div>
            <div class="form-group">
              <label>Formula (<a ng-href="https://github.com/silentmatt/expr-eval#expression-syntax" target="_blank">expr-eval</a> syntax)</label>
              <input type="text" ng-model="computedColumn.formula" class="form-control" />
            </div>
            <div class="form-group">
              <label>Format</label>
              <select ng-model="computedColumn.format" class="form-control">
                <option label="Number" value="number">Number</option>
                <option label="String" value="string">String</option>
              </select>
            </div>
            <div class="form-group" ng-if="computedColumn.format === 'number'">
              <label>Pattern (<a ng-href="http://numeraljs.com/#format" target="_blank">Numeral.js</a> syntax)</label>
              <input type="text" ng-model="computedColumn.pattern" class="form-control">
            </div>
            <div class="form-group">
              <label>Alignment</label>
              <select ng-model="computedColumn.alignment" class="form-control">
                <option>left</option>
                <option>right</option>
                <option>center</option>
                <option>justify</option>
              </select>
            </div>
            <div class="checkbox" ng-if="computedColumn.alignment != 'left'">
              <label>
                <input type="checkbox" ng-model="computedColumn.applyAlignmentOnTitle">
                Apply alignment on title
              </label>
            </div>
            <div class="checkbox" ng-if="computedColumn.alignment != 'left'">
              <label>
                <input type="checkbox" ng-model="computedColumn.applyAlignmentOnTotal">
                Apply alignment on total
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="computedColumn.applyTemplate">
                Apply template
              </label>
            </div>
            <div class="checkbox" ng-if="computedColumn.applyTemplate">
              <label>
                <input type="checkbox" ng-model="computedColumn.applyTemplateOnTotal">
                Apply template on total
              </label>
            </div>
            <div class="form-group" ng-if="computedColumn.applyTemplate">
              <label>Template (<a ng-href="http://handlebarsjs.com/expressions.html" target="_blank">Handlebars</a> syntax)</label>
              <input type="text" ng-model="computedColumn.template" class="form-control">
            </div>
        </div>
    </div>
  </div>

  <div ng-click="addComputedColumn($parent.vis.params.computedColumns)" class="vis-editor-agg-wide-btn">
    <div>
      <div class="kuiButton kuiButton--primary kuiButton--small">
        Add computed column
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Hidden columns</label>
    <input type="text" ng-model="vis.params.hiddenColumns" class="form-control" placeholder="0,1,..." />
  </div>


  <div>&nbsp;</div>
  <div class="kuiSideBarSectionTitle">
    <div class="kuiSideBarSectionTitle__text">
      Filter Bar
    </div>
  </div>
  
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vis.params.showFilterBar">
      Show filter bar
    </label>
  </div>

  <div class="checkbox" ng-show="vis.params.showFilterBar">
    <label>
      <input type="checkbox" ng-model="vis.params.filterCaseSensitive">
      Case sensitive filter
    </label>
  </div>

  <div class="checkbox" ng-show="vis.params.showFilterBar">
    <label>
      <input type="checkbox" ng-model="vis.params.filterBarHideable">
      Filter bar hideable
    </label>
  </div>

  <div class="checkbox" ng-show="vis.params.showFilterBar">
    <label>
      <input type="checkbox" ng-model="vis.params.filterAsYouType">
      Filter as you type
    </label>
  </div>

  <div class="form-group" ng-show="vis.params.showFilterBar">
    <label>Filter bar width</label>
    <input type="text" ng-model="vis.params.filterBarWidth" class="form-control">
  </div>


  <div>&nbsp;</div>
  <div class="kuiSideBarSectionTitle">
    <div class="kuiSideBarSectionTitle__text">
      Basic Settings
    </div>
  </div>
  
  <div class="form-group">
    <label for="datatableVisualizationPerPage">Per Page</label>
    <input type="number" ng-model="vis.params.perPage" class="form-control" id="datatableVisualizationPerPage">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vis.params.hideExportLinks">
      Hide export links
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vis.params.showMeticsAtAllLevels">
      Show metrics for every bucket/level
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vis.params.showPartialRows">
      Show partial rows
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="metricsAtAllLevels" disabled>
      Calculate metrics for every bucket/level
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vis.params.showTotal">
      Show total
    </label>
  </div>

  <div>
    <label for="datatableVisualizationTotalFunction">Total function</label>
    <select ng-disabled="!vis.params.showTotal"
            class="form-control"
            ng-model="vis.params.totalFunc"
            ng-options="x for x in totalAggregations" id="datatableVisualizationTotalFunction">
    </select>
  </div>

  <div class="form-group">
    <label for="datatableVisualizationTotalLabel">Total label</label>
    <input type="text" ng-model="vis.params.totalLabel" class="form-control" id="datatableVisualizationTotalLabel" ng-disabled="!vis.params.showTotal">
  </div>

</div>