.agg-table-group > tbody > tr > td {
  padding: 0px 5px;
}

kbn-enhanced-agg-table-group > .table > tbody > tr > td {
  border-top: 0px;
}

paginate-controls {
  padding: 0px 5px;
}

kbn-enhanced-agg-table-group .table {
  margin-bottom: 0px;
}

.hide-export-links .pagination-container {
  display: none;
}

.hide-pagination paginate-controls {
  display: none;
}

.filterInput {
  border-color: #D9D9D9;
  border-width: 1px;
  box-shadow: none;
}

.filterInput:focus {
  border-color: #0079a5;
}

.filterButton {
  height: 33px;
}

.filterButton:disabled {
  cursor: default;
  opacity: 1;
}

.filterText {
  padding-right: 20px;
}

.filterBar {
  margin-top: 16px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
