<div class="visEditorSidebar__config enhanced-table-vis-params">

  <!-- COMPUTED COLUMNS SECTION -->
  <div class="visEditorSidebar__section">

    <div class="visEditorSidebar__sectionTitle">
        Computed Columns
    </div>

    <div draggable-container="editorState.params.computedColumns" class="computed-columns">
      <div ng-repeat="computedColumn in editorState.params.computedColumns"
           ng-init="editorOpen = initEditorOpen()"
           draggable-item="computedColumn"
           class="euiAccordion visEditorSidebar__section visEditorSidebar__collapsible visEditorSidebar__collapsible--marginBottom">

           <!-- header -->
          <div class="euiAccordion__triggerWrapper">

              <!-- open/close editor -->
              <button
                    aria-label="{{editorOpen ? 'Close' : 'Open'}} Editor"
                    ng-click="editorOpen = !editorOpen"
                    aria-expanded="{{ !!editorOpen }}"
                    type="button"
                    data-test-subj="toggleEditor"
                    class="euiAccordion__button eui-textTruncate">
                 <icon aria-hidden="true" ng-if="editorOpen" type="'arrowDown'" size="'s'"></icon>
                 <icon aria-hidden="true" ng-if="!editorOpen" type="'arrowRight'" size="'s'"></icon>
                 &nbsp;

                 <!-- title -->
                 <span class="visEditorSidebar__aggGroupAccordionButtonContent eui-textTruncate">
                    Computed col
                    <!-- description -->
                    <span ng-if="!editorOpen" title="{{computedColumn.label || computedColumn.formula}}">
                      {{computedColumn.label || computedColumn.formula}}
                    </span>
                 </span>
              </button>

              <!-- controls -->
              <div class="euiAccordion__optionalAction">

                  <!-- disable computed column -->
                  <button
                    ng-if="computedColumn.enabled"
                    ng-click="computedColumn.enabled = false"
                    aria-label="{{::'enhancedTableVis.disableComputedColButtonAriaLabel' | i18n: { defaultMessage: 'Disable Column' } }}"
                    tooltip="{{::'enhancedTableVis.disableComputedColButtonTooltip' | i18n: { defaultMessage: 'Disable Column' } }}"
                    tooltip-append-to-body="true"
                    data-test-subj="disableComputedColumnBtn"
                    type="button"
                    class="euiButtonIcon euiButtonIcon--text">
                    <icon type="'eye'" color="'text'"/>
                  </button>

                  <!-- enable computed column -->
                  <button
                    ng-if="!computedColumn.enabled"
                    ng-click="computedColumn.enabled = true"
                    aria-label="{{::'enhancedTableVis.enableComputedColButtonAriaLabel' | i18n: { defaultMessage: 'Enable Column' } }}"
                    tooltip="{{::'enhancedTableVis.enableComputedColButtonTooltip' | i18n: { defaultMessage: 'Enable Column' } }}"
                    tooltip-append-to-body="true"
                    data-test-subj="enableComputedColumnBtn"
                    type="button"
                    class="euiButtonIcon euiButtonIcon--text">
                    <icon type="'eyeClosed'" color="'text'"/>
                  </button>

                  <!-- drag handle -->
                  <button
                    draggable-handle
                    ng-if="editorState.params.computedColumns.length > 1"
                    aria-label="{{::'enhancedTableVis.modifyComputedColumnOrderAriaLabel' | i18n: { defaultMessage: 'Modify Order by Dragging' } }}"
                    tooltip="{{::'enhancedTableVis.modifyComputedColumnOrderButtonTooltip' | i18n: { defaultMessage: 'Modify Order by Dragging' } }}"
                    tooltip-append-to-body="true"
                    type="button"
                    keyboard-move="onPriorityReorder(direction)"
                    class="euiButtonIcon euiButtonIcon--text">
                    <icon type="'grab'"/>
                    <span class="euiScreenReaderOnly"
                      i18n-id="enhancedTableVis.howToModifyScreenReaderOrderDescription"
                      i18n-default-message="Use up and down key on this button to move this computed column up and down in the order."
                    >
                    </span>
                  </button>

                  <!-- remove computed column -->
                  <button
                    aria-label="{{::'enhancedTableVis.removeComputedColumnButtonAriaLabel' | i18n: { defaultMessage: 'Remove Column' } }}"
                    ng-click="removeComputedColumn(computedColumn, editorState.params.computedColumns)"
                    tooltip="{{::'enhancedTableVis.removeComputedColumnButtonTooltip' | i18n: { defaultMessage: 'Remove Column' } }}"
                    tooltip-append-to-body="true"
                    type="button"
                    class="euiButtonIcon euiButtonIcon--text">
                    <icon type="'cross'" color="'danger'"/>
                  </button>

              </div>
          </div>

          <!-- editor -->
          <div ng-if="editorOpen">
              <div class="form-group">
                <label>Label</label>
                <input type="text" ng-model="computedColumn.label" class="form-control">
              </div>
              <div class="form-group">
                <label>Formula (<a ng-href="https://github.com/fbaligand/kibana-enhanced-table/blob/master/README.md#computed-settings-documentation" target="_blank">documentation</a>)</label>
                <input type="text" ng-model="computedColumn.formula" class="form-control" />
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="computedColumn.computeTotalUsingFormula">
                  Compute total using formula
                </label>
              </div>
              <div class="form-group">
                <label>Format</label>
                <select ng-model="computedColumn.format" class="form-control">
                  <option label="Number" value="number">Number</option>
                  <option label="String" value="string">String</option>
                  <option label="Date" value="date">Date</option>
                </select>
              </div>
              <div class="form-group" ng-if="computedColumn.format === 'number'">
                <label>Pattern (<a ng-href="http://numeraljs.com/#format" target="_blank">Numeral.js</a> syntax)</label>
                <input type="text" ng-model="computedColumn.pattern" class="form-control">
              </div>
              <div class="form-group" ng-if="computedColumn.format === 'date'">
                <label>Pattern (<a ng-href="http://momentjs.com/docs/#/displaying/format/" target="_blank">Moment.js</a> syntax)</label>
                <input type="text" ng-model="computedColumn.datePattern" class="form-control">
              </div>
              <div class="form-group">
                <label>Alignment</label>
                <select ng-model="computedColumn.alignment" class="form-control">
                  <option>left</option>
                  <option>right</option>
                  <option>center</option>
                  <option>justify</option>
                </select>
              </div>
              <div class="checkbox" ng-if="computedColumn.alignment != 'left'">
                <label>
                  <input type="checkbox" ng-model="computedColumn.applyAlignmentOnTitle">
                  Apply alignment on title
                </label>
              </div>
              <div class="checkbox" ng-if="computedColumn.alignment != 'left'">
                <label>
                  <input type="checkbox" ng-model="computedColumn.applyAlignmentOnTotal">
                  Apply alignment on total
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="computedColumn.applyTemplate">
                  Apply template
                </label>
              </div>
              <div class="checkbox" ng-if="computedColumn.applyTemplate">
                <label>
                  <input type="checkbox" ng-model="computedColumn.applyTemplateOnTotal">
                  Apply template on total
                </label>
              </div>
              <div class="form-group" ng-if="computedColumn.applyTemplate">
                <label>Template (<a ng-href="https://github.com/fbaligand/kibana-enhanced-table/blob/master/README.md#computed-column-template-documentation" target="_blank">documentation</a>)</label>
                <input type="text" ng-model="computedColumn.template" class="form-control">
              </div>
              <div class="form-group">
                <label>Cell computed CSS (<a ng-href="https://github.com/fbaligand/kibana-enhanced-table/blob/master/README.md#computed-settings-documentation" target="_blank">documentation</a>)&nbsp;
                  <icon-tip
                    content="'This option lets to define dynamically table cell CSS (like background-color CSS property), based on this column value and previous column values'"
                    position="'right'"
                  ></icon-tip>
                </label>
                <input type="text" ng-model="computedColumn.cellComputedCss" class="form-control" placeholder="value &lt; 0 ? &quot;background-color: red&quot; : &quot;&quot;" />
              </div>
              <div class="form-group">
                <label>Custom column position&nbsp;
                  <icon-tip
                    content="'You can change here the computed column target position to a previous position. For example, &quot;0&quot; will move this column at first position. Despite &quot;target&quot; column position, formula can reference any previous column to the &quot;declared&quot; column position, including classic and computed columns.'"
                    position="'right'"
                  ></icon-tip>
                </label>
                <input type="number" ng-model="computedColumn.customColumnPosition" class="form-control" />
              </div>
          </div>
      </div>
    </div>

    <div class="eui-textCenter">
      <a class="kuiButton kuiButton--secondary kuiButton--small" ng-click="addComputedColumn(editorState.params.computedColumns)">
          Add computed column
      </a>
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label>Rows computed filter (<a ng-href="https://github.com/fbaligand/kibana-enhanced-table/blob/master/README.md#computed-settings-documentation" target="_blank">documentation</a>)&nbsp;
        <icon-tip
          content="'Example: when \'col0 &gt; 10\', only table rows having first column value greater than 10 are displayed'"
          position="'right'"
        ></icon-tip>
      </label>
      <input type="text" ng-model="editorState.params.linesComputedFilter" class="form-control" placeholder="col0 > 10" />
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label>Rows computed CSS (<a ng-href="https://github.com/fbaligand/kibana-enhanced-table/blob/master/README.md#computed-settings-documentation" target="_blank">documentation</a>)&nbsp;
        <icon-tip
          content="'This option lets to define dynamically table row CSS (like background-color CSS property), based on its column values'"
          position="'right'"
        ></icon-tip>
      </label>
      <input type="text" ng-model="editorState.params.rowsComputedCss" class="form-control" placeholder="col1 &lt; 0 ? &quot;background-color: red&quot; : &quot;&quot;" />
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label>
        Hidden columns
        <icon-tip
          content="'Reference a column by its index (1,2,3), by its label (Example Column) or both (1,2,column_3). Write the column label as is (no surrounding quotes) and separate them using a comma. It is recommended to reference a column by its label.'"
          position="'right'"
        ></icon-tip>
      </label>
      <input type="text" ng-model="editorState.params.hiddenColumns" class="form-control" placeholder="0,1,Col2 Label,..." />
    </div>

    <div class="checkbox" ng-show="hasSplitColsBucket()">
      <label>
        <input type="checkbox" ng-model="editorState.params.computedColsPerSplitCol">
        Computed/Hidden cols per split col&nbsp;
        <icon-tip
          content="'Example: when enabled, if there is one \'Split cols\' bucket that implies two columns (term1 and term2), one Count metric, and one computed column configured, then in the result table, there will be a computed column for term1 and another computed column for term2 (each displayed after count column)'"
          position="'right'"
        ></icon-tip>
      </label>
    </div>

    <div class="checkbox" ng-show="hasSplitColsBucket()">
      <label>
        <input type="checkbox" ng-model="editorState.params.sortSplitCols">
        Sort split cols&nbsp;
        <icon-tip
          content="'By default, split cols are displayed in the order they come from Elasticsearch response. If this option is checked, the columns are sorted by split col value (ascending order). This is especially useful when \'Split Cols\' bucket aggregation is \'Date Histogram\' or \'Terms\' to have a natural and stable columns order.'"
          position="'right'"
        ></icon-tip>
      </label>
    </div>

  </div>

  <!-- FILTER BAR SECTION -->
  <div class="visEditorSidebar__section">

    <div class="visEditorSidebar__sectionTitle">
        Filter Bar
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showFilterBar">
        Show filter bar
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterCaseSensitive">
        Case sensitive filter
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterBarHideable">
        Filter bar hideable
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterAsYouType">
        Filter as you type
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterTermsSeparately">
        Filter each term separately
        <icon-tip
          content="'Example with filter set to \'term1&nbsp;term2\': when this option is enabled, rows with one column containing \'term1\' and another column containing \'term2\' will be displayed. If disabled, only rows with one column containing \'term1&nbsp;term2\' will be displayed.'"
          position="'right'"
        ></icon-tip>
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterHighlightResults">
        Highlight results
      </label>
    </div>

    <div class="form-group" ng-show="editorState.params.showFilterBar">
      <label>Filter bar width</label>
      <input type="text" ng-model="editorState.params.filterBarWidth" class="form-control">
    </div>

  </div>

  <!-- BASIC SETTINGS SECTION -->
  <div class="visEditorSidebar__section">

    <div class="visEditorSidebar__sectionTitle">
        Basic Settings
    </div>

    <div class="form-group">
      <label
        for="datatableVisualizationPerPage"
        i18n-id="visTypeEnhancedTable.params.perPageLabel"
        i18n-default-message="Per Page"
      ></label>
      <input type="number" ng-model="editorState.params.perPage" class="form-control" id="datatableVisualizationPerPage">
    </div>

    <div class="form-group">
      <label for="datatableVisualizationCsvEncoding">CSV export encoding (<a href="https://github.com/ashtuchkin/iconv-lite/wiki/Supported-Encodings" target="_blank">supported encodings</a>)&nbsp;
        <icon-tip
          content="'Define here the content encoding you wish for CSV exports. Default value is &quot;utf-8&quot;.'"
          position="'right'"
        ></icon-tip>
      </label>
      <input type="text" ng-model="editorState.params.csvEncoding" class="form-control" id="datatableVisualizationCsvEncoding">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.hideExportLinks">
        Hide CSV export links
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.csvExportWithTotal" ng-disabled="!editorState.params.showTotal">
        CSV export with total row
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.stripedRows">
        Striped rows
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.addRowNumberColumn">
        Add row number column
      </label>
    </div>

    <div class="checkbox" ng-if="!editorState.params.fieldColumns">
      <label>
        <input type="checkbox" ng-model="editorState.params.showMetricsAtAllLevels">
        <span
          i18n-id="visTypeTable.params.showMetricsLabel"
          i18n-default-message="Show metrics for every bucket/level"
        ></span>
      </label>
    </div>

    <div class="checkbox" ng-if="!editorState.params.fieldColumns">
      <label>
        <input type="checkbox" ng-model="editorState.params.showPartialRows">
        <span
          i18n-id="visTypeTable.params.showPartialRowsLabel"
          i18n-default-message="Show partial rows"
        ></span>
        &nbsp;
        <icon-tip
          content="::'visTypeTable.params.showPartialRowsTip' | i18n: {
            defaultMessage: 'Show rows that have partial data. This will still calculate metrics for every bucket/level, even if they are not displayed.'
          }"
          position="'right'"
        ></icon-tip>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showTotal">
        <span
          i18n-id="visTypeTable.params.showTotalLabel"
          i18n-default-message="Show total"
        ></span>
      </label>
    </div>

    <div>
      <label
        for="datatableVisualizationTotalFunction"
        i18n-id="visTypeTable.params.totalFunctionLabel"
        i18n-default-message="Total function"
      ></label>
      <select ng-disabled="!editorState.params.showTotal"
              class="form-control"
              ng-model="editorState.params.totalFunc"
              ng-options="x for x in totalAggregations" id="datatableVisualizationTotalFunction">
      </select>
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label for="datatableVisualizationTotalLabel">Total label</label>
      <input type="text" ng-model="editorState.params.totalLabel" class="form-control" id="datatableVisualizationTotalLabel" ng-disabled="!editorState.params.showTotal">
    </div>

  </div>

</div>
