<div ng-controller="EnhancedTableVisController" class="table-vis enhanced-table-vis" ng-class="{'theme-dark': isDarkTheme}">

  <div ng-show="visState.params.showFilterBar && hasSomeData" class="filterBar">
    <div ng-hide="showFilterInput()" class="filterTextContainer">
      <a ng-click="enableFilterInput()" class="filterText" i18n-id="enhancedTable.vis.filterLink" i18n-default-message="Filter"></a>
    </div>

    <div class="kuiLocalSearch" ng-show="showFilterInput()" ng-style="{ width: visState.params.filterBarWidth }">
      <div class="kuiLocalSearchAssistedInput">
        <input type="text" ng-model="vis.filterInput" ng-keyup="(visState.params.filterAsYouType || $event.keyCode == 13) && doFilter()" placeholder="{{ ::'enhancedTable.vis.filterPlaceholder' | i18n: {defaultMessage: 'Filter...'} }}" class="kuiLocalSearchInput filterInput" autocomplete="off" aria-label="{{ ::'enhancedTable.vis.filterAriaLabel' | i18n: {defaultMessage: 'Filter input'} }}">
      </div>
      <button ng-click="doFilter()" aria-label="Filter" class="kuiButton kuiLocalSearchButton filterButton" ng-disabled="visState.params.filterAsYouType">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <button ng-click="disableFilterInput()" ng-show="visState.params.filterBarHideable" aria-label="Hide" class="kuiButton kuiButton--danger filterButton">
        <span aria-hidden="true" class="fa fa-times"></span>
      </button>
    </div>
  </div>

  <div ng-if="!hasSomeRows && hasSomeRows !== null" data-test-subj="visNoResult" class="visError">
    <div class="euiPanel euiPanel--transparent euiEmptyPrompt" data-test-subj="visualization-error">
      <div class="euiEmptyPrompt__main">
        <div class="euiEmptyPrompt__icon css-euiEmptyPrompt__icon-vertical">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="euiIcon css-euiIcon-xxl-default-app" role="img" data-icon-type="visualizeApp" aria-hidden="true"> <path d="M32 32H4a4 4 0 0 1-4-4V0h2v28a2 2 0 0 0 2 2h28v2Z" class="euiIcon__fillSecondary"></path><path d="M6 20h2v7H6zM16 12h2v15h-2zM26 17h2v10h-2z"></path><path d="M27 6a3 3 0 0 0-2.08.84L20 4.36A2.2 2.2 0 0 0 20 4a3 3 0 0 0-6 0c.001.341.062.68.18 1l-5.6 4.46A3 3 0 0 0 7 9a3 3 0 1 0 3 3 2.93 2.93 0 0 0-.18-1l5.6-4.48A3 3 0 0 0 17 7a3 3 0 0 0 2.08-.84l5 2.48A2.2 2.2 0 0 0 24 9a3 3 0 1 0 3-3ZM7 13a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm10-8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm10 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>
        </div>
        <div class="euiEmptyPrompt__content">
          <div class="euiText css-euiText-m-euiTextColor-subdued">
            <div class="euiText visualization-error-text css-euiText-xs" i18n-id="visualizations.noResultsFoundTitle" i18n-default-message="No results found"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="hasErrorMessage" data-test-subj="visError" class="visError">
    <div class="euiEmptyPrompt" data-test-subj="visualization-error">
      <div class="euiSpacer euiSpacer--m"></div>
      <span class="euiTextColor euiTextColor--subdued">
        <div class="euiText euiText--medium">
          <i class="fa fa-exclamation-triangle fa-6" style="font-size: 3em;" aria-hidden="true"></i>
          <div class="euiText euiText--extraSmall" i18n-id="enhancedTable.vis.errorText" i18n-default-message="Error"></div>
        </div>
      </span>
    </div>
  </div>

  <div ng-if="hasSomeRows" class="table-vis-container" ng-class="tableVisContainerClass" data-test-subj="tableVis">
    <kbn-enhanced-agg-table-group
      filter="filter"
      group="tableGroups"
      export-title="visState.title"
      per-page="visState.params.perPage"
      sort="sort"
      show-total="visState.params.showTotal"
      total-func="visState.params.totalFunc"
      csv-export-with-total="visState.params.csvExportWithTotal && visState.params.showTotal"
      csv-full-export="visState.params.csvFullExport && visState.params.computedColumns.length === 0 && !visState.params.linesComputedFilter && !visState.params.hiddenColumns && !visState.params.csvExportWithTotal && !visState.params.addRowNumberColumn"
      csv-encoding="visState.params.csvEncoding || 'utf-8'"
      field-columns="visState.params.fieldColumns">

    </kbn-enhanced-agg-table-group>
  </div>
</div>
