<div ng-controller="EnhancedTableVisController" class="table-vis enhanced-table-vis">

  <div ng-show="showFilterBar && (hasSomeRows || activeFilter !== '')">
    <div ng-hide="showFilterInput()" class="width: 100%;" align="right">
      <a ng-click="enableFilterInput()" class="filterText">Filter</a>
    </div>
    <div class="kuiLocalSearch" ng-show="showFilterInput()" style="width:{{filterBarWidth}}">
      <div class="kuiLocalSearchAssistedInput" style="width:100%">
        <input ng-model="vis.filterInput" ng-keyup="$event.keyCode == 13 && doFilter()" placeholder="Filter..." class="kuiLocalSearchInput ng-touched filterInput" autocomplete="off" type="text">
      </div>
      <button ng-click="doFilter()" aria-label="Filter" class="kuiLocalSearchButton filterButton">
        <span aria-hidden="true" class="kuiIcon fa-search"></span>
      </button>
      <button ng-click="disableFilterInput()" ng-show="filterBarHideable" aria-label="Hide" class="kuiButton kuiButton--danger filterButton">
        <span aria-hidden="true" class="kuiIcon fa-times"></span>
      </button>
    </div>
  </div>

  <div ng-if="!hasSomeRows && hasSomeRows !== null" class="table-vis-error">
    <h2 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h2>
    <h4>No results found</h4>
  </div>

  <div ng-if="tableGroups" class="table-vis-container" ng-class="tableVisContainerClass">
    <kbn-agg-table-group
      group="tableGroups"
      export-title="visState.title"
      per-page="visState.params.perPage"
      sort="sort"
      show-total="visState.params.showTotal"
      total-func="visState.params.totalFunc">
    </kbn-agg-table-group>
  </div>
</div>
