.css-euiIcon-xxl-default-app {
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  transform: translate(0px);
  inline-size: 40px;
  block-size: 40px;
  fill: $defaultAppFillColor;

  .euiIcon__fillSecondary {
    fill: $defaultAppFillSecondaryColor;
  }
}

.css-euiText-m-euiTextColor-subdued {
  font-weight: 400;
  clear: both;
  font-size: 1.1429rem;
  line-height: 1.7143rem;
  color: $subduedColor;
}

.css-euiText-xs {
  color: inherit;
  font-weight: 400;
  clear: both;
  font-size: 0.8571rem;
  line-height: 1.1429rem;
}