// LIGHT THEME
.enhanced-table-vis {
  $euiColorLightestShade: #1750ba0a;
  $euiColorBackground: #ffffff;
  $euiColorBorder: #d3dae6;
  $euiColorFont: #1d2a3e;
  @import 'agg_table/index';
  @import 'enhanced-table-vis-kui';

  $defaultAppFillColor: rgb(52, 55, 65);
  $defaultAppFillSecondaryColor: rgb(0, 119, 204);
  $subduedColor: rgb(100, 106, 119);
  @import 'icons';
}

// DARK THEME
.theme-dark.enhanced-table-vis {
  $euiColorLightestShade: #1E2839;
  $euiColorBackground: #0B1628;
  $euiColorBorder: #2B394F;
  $euiColorFont: #cad3e2;
  @import 'agg_table/index';
  @import 'enhanced-table-vis-kui';

  $defaultAppFillColor: rgb(223, 229, 239);
  $defaultAppFillSecondaryColor: rgb(54, 162, 239);
  $subduedColor: rgb(129, 133, 143);
  @import 'icons';
}

// COMMON CSS
@import 'paginated_table/index';
@import 'enhanced-table-vis';
@import 'enhanced-table-vis-params';
